<html>
    <head>
        <title>Programlamacı Sözlüğü</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="static/css/index.css">
        
    </head>
    <body>
         <diV class="w3-bar ust" style="position: fixed;">

                
            <button class="w3-button w3-hide-large w3-mobile openNav-kapat" id="openNav" onclick="w3_open()">&#9776;</button>
                

            <span class="w3-bar-item w3-mobile"><img class="logo" src="static/img/logo.png" /></span>

            {% if logged_in %}
                
                <span class="w3-right w3-mobile">
                    <a class="w3-bar-item w3-mobile" href="/giris">ben</a>
                    <a class="w3-bar-item w3-mobile" href="/cikis">terk et</a>
                </span>

            {% else %}

                <span class="w3-right w3-mobile">
                    <a class="w3-bar-item w3-mobile" href="/giris">giriş yap</a>
                    <a class="w3-bar-item w3-mobile" href="/kayit">kayıt ol</a>
                </span>
            
            {% endif %}

            
            
         </diV>

         <div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left bg-sidebar ust sidebar-margin" style="position: fixed;" id="mySidebar">
            <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">kapat &times;</button>
            <span class="w3-bar-item w3-xlarge" style="text-decoration:bold;">gündem</span>
            <table class="w3-xxlarge w3-table">
                <tr class="w3-bar-item w3-button no-hover" draggable="true">
                        
                    <td class="mysidebar">
                        <a href="/topic/1326" class="no-hover">kitlesel iklim göçlerinin hızla yaklaşt asdas das das das das dasd asd asığı gerçeği</a>
                    </td>
                
                    <td class="posts">
                        25
                    </td>
                </tr>

                
                <tr class="w3-bar-item w3-button no-hover" draggable="true">
                    
                    <td class="mysidebar">
                        <a href="/topic/1326" class="no-hover">kitlesel iklim göçlerinin hızla yaklaştığı gerçeği</a>
                    </td>
                
                    <td class="posts">
                        25
                    </td>
                </tr>

                <tr class="w3-bar-item w3-button no-hover" draggable="true">
                    
                    <td class="mysidebar">
                        <a href="/topic/1326" class="no-hover">kitlesel iklim göçlerinin hızla yaklaştığı gerçeği</a>
                    </td>
                
                    <td class="posts">
                        25
                    </td>
                </tr>

                
                
                
                
            </table>
        </div>

        
        <div id="main" class="w3-container w3-left-align w3-threequarter main-kapat">

            <div class="w3-container w3-threequarter w3-margin-top pr-margin-top w3-mobile">
                <span class="baslik">
                    <a href="#" class="baslik-tag">
                        tüm şikayetler
                    </a>
                </span>
            </div>

            

            <div class="w3-container w3-threequarter w3-margin-top">
                
                <!--YENİ ENTRY-->
                {% for report in result %}
                    <div class="entry">
                        <span class="w3-left-align">
                            {{report["reason"]}}

                            <br><br><br><a href="/entry/{{report['entryId']}}">Şikayet edilen entry </a>
                        <br><br>
                        <i class="far fa-heart like" id="like"></i>
                        <span class="w3-right">
                            <a class="entry-date">{{report["date"]}}</a>
                            <a class="entry-author">{{report["username"]}}</a>
        
                            <div class="w3-dropdown-hover">
                            <i class="fas fa-ellipsis-h"></i>
                            <div class="w3-dropdown-content w3-bar-block ust">
                                <a href="#" class="w3-bar-item w3-button no-hover">raporla</a>
                                <a href="#" class="w3-bar-item w3-button no-hover">editle</a>
                                <a onclick="deleteReport();" class="w3-bar-item w3-button no-hover" id="delete-sil" name="{{report['reportId']}}">sil</a>
                            </div>
                        </div>
                        </span>
                    </div>
                {% endfor %}

                <!--YENİ ENTRY-->
               
            </div>   
            
            <script src="static/js/index.js"></script>
            <script src="static/js/report.js"></script>
        
    
    </body>

</html>